container_commands:
  01-systemdown:
    command: "php artisan down"
  02-clean-cache:
    command: "php artisan cache:clear"
  03-migrate:
    command: "php artisan migrate --force"
  04-configure-meilisearch:
    command: "php artisan meilisearch:configure"
  05-seeder-tenant:
    command: "php artisan db:seed --class=TenantSeeder --force"
  06-seeder-project-init:
    command: "php artisan db:seed --class=ProjectInitSeeder --force"
  07-seeder-admin-user:
    command: "php artisan db:seed --class=AdminUserSeeder --force"
  08-seeder-folder:
    command: "php artisan db:seed --class=FolderSeeder --force"
  09-seeder-tenant-settings:
    command: "php artisan db:seed --class=TenantSettingsSeeder --force"
  10-seeder-update-allow-user-access-existing-documents:
    command: "php artisan db:seed --class=UpdateAllowUserAccessExistingDocumentsSeeder --force"
  11-seeder-tenant-default-user-access:
    command: "php artisan db:seed --class=AddTenantDefaultDocumentUserAccess --force"
  12-seeder-insert-document-uploaded-event:
    command: "php artisan db:seed --class=InsertDocumentUploadedEventInAuditsSeeder --force"
  13-scout-flush-document:
    command: "php artisan scout:flush App\\\Models\\\Document"
  14-scout-import-document:
    command: "php artisan scout:import App\\\Models\\\Document"
  15-scout-flush-documentmetadata:
    command: "php artisan scout:flush App\\\Models\\\DocumentEntityMetadata"
  16-scout-import-documentmetadata:
    command: "php artisan scout:import App\\\Models\\\DocumentEntityMetadata"
  17-systemup:
    command: "php artisan up"
