container_commands:
  01-systemdown:
    command: "php artisan down"
  02-migrate:
    command: "php artisan migrate --force"
  03-configure-meilisearch:
    command: "php artisan meilisearch:configure"
  04-seeder-tenant:
    command: "php artisan db:seed --class=TenantSeeder --force"
  05-seeder-project-init:
    command: "php artisan db:seed --class=ProjectInitSeeder --force"
  06-seeder-admin-user:
    command: "php artisan db:seed --class=AdminUserSeeder --force"
  07-seeder-folder:
    command: "php artisan db:seed --class=FolderSeeder --force"
  08-seeder-tenant-settings:
    command: "php artisan db:seed --class=TenantSettingsSeeder --force"
  09-seeder-update-allow-user-access-existing-documents:
    command: "php artisan db:seed --class=UpdateAllowUserAccessExistingDocumentsSeeder --force"
  10-seeder-tenant-default-user-access:
    command: "php artisan db:seed --class=AddTenantDefaultDocumentUserAccess --force"
  11-seeder-insert-document-uploaded-event:
    command: "php artisan db:seed --class=InsertDocumentUploadedEventInAuditsSeeder --force"
  12-systemup:
    command: "php artisan up"
