container_commands:
  01-systemdown:
    command: "php artisan down"
  02-migrate:
    command: "php artisan migrate --force"
  03-seeder-tenant:
    command: "php artisan db:seed --class=TenantSeeder --force"
  04-seeder-project-init:
    command: "php artisan db:seed --class=ProjectInitSeeder --force"
  05-seeder-admin-user:
    command: "php artisan db:seed --class=AdminUserSeeder --force"
  06-seeder-folder:
    command: "php artisan db:seed --class=FolderSeeder --force"
  07-seeder-tenant-settings:
    command: "php artisan db:seed --class=TenantSettingsSeeder --force"
  08-seeder-add-default-tenant-settings:
    command: "php artisan db:seed --class=AddDefaultColorsAndImagesOnTenantSettingsSeeder --force"
  09-configure-meilisearch:
    command: "php artisan meilisearch:configure"
  10-systemup:
    command: "php artisan up"
